model_list:
  - model_name: llama3.2
    litellm_params:
      model: ollama/llama3.2:3b
      api_base: http://ollama:11434
  - model_name: llama3.1
    litellm_params:
      model: ollama/llama3.1:8b
      api_base: http://ollama:11434

litellm_settings:
  drop_params: true
  success_callback: ["langfuse"]
  
general_settings:
  master_key: sk-1234
